{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="first-section">
    <div class="slide-in-top kenburns-top slide-1">
        <h1>Enhance your gaming performance with us</h1>
        <p> In the business since 2019 with a great range of expertise in the field of computer assenbling and fixing.
        </p>
        <a href="#" class="btn lg bg-dark text-white">Shop Now</a>
    </div>
</section>

<section class="second-section ">
    <div class="slide-in-left ">
        <h3> Our Services</h3>
        <ul class="list-inline list-inline-horizontal-lg">
            <li class="list-inline-item">

                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/media/pc_image_test.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PC SHOP</h5>
                        <p class="card-text">Providing the best service brand new Computers with the best products in the market and a fast delivery</p>
                        <a href="#" class="btn btn-primary bg-dark">Order Now</a>
                    </div>
                </div>
            </li>

            <li class="list-inline-item">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="/media/pc_fix_image.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PC Technician</h5>
                        <p class="card-text">Our technicians are proffessionals with over 10+ years experience in the field of making lives easier</p>
                        <a href="#" class="btn btn-primary bg-dark">Book Now</a>
                    </div>
                </div>
            </li>

            
        </ul>
    </div>
</section>

<section class="fourth-section">
    <div class="slide-in-left">
        <h3> Why Choose PC hub </h3>
        <ul>
            <p>Circle 1 (card)</p>
            <p>Circle2 (card)</p>
            <p>Circle 3 (card)</p>
        </ul>
    </div>
</section>
{% endblock %}