{% extends "base.html" %}
{% load static %}


{% block content %}
<!--First section of a page containing the main header-->
<section class="first-section ">
    <div class="slide-in-left kenburns-left">
        <h1>Enhance your gaming performance with us</h1>
        <p> In the business since 2019 with a great range of expertise in the field of computer assenbling and fixing.
        </p>
        <a href="{% url 'computers' %}" class="btn btn-lg bg-dark text-white"> Shop Now</a>

    </div>
</section>

<!--Second section of the page containing cards of our services-->
<section class="second-section">
    <div class="slide-in-left d-sm">
        <h3> Our Services</h3>
        <ul class="list-inline list-inline-horizontal-lg">
            <li class="list-inline-item ">
                <!--PC shop card-->
                <div class="card px-4" style="width: 18rem;">
                    <img class="img-thumbnail card-img-top" src=" {% static 'media/pc_image_test.png' %}" alt="image of a computer ">
                    <div class="card-body">
                        <h5 class="card-title">PC SHOP</h5>
                        <p class="card-text"> Providing the best service selling brand new Computers, Laptops, Monitors
                            with the best quality and lastest technologies in
                            the market and fast delivery </p>
                            <a href="{% url 'computers' %}" class="btn btn-lg bg-dark text-white"> Order Now</a>
                    </div>
                </div>
            </li>

            <!--PC technician card-->
            <li class="list-inline-item">
                <div class="card px-4" style="width: 18rem;">
                    <img class="img-thumbnail card-img-top" src="{% static 'media/pc_fix_image.png' %}"
                        alt="image of a monitor and fixing tools">
                    <div class="card-body">
                        <h5 class="card-title">PC Technician</h5>
                        <p class="card-text">Our technicians are proffessionals with over 10+ years experience in the
                            field of making lives easier</p>
                        <a href="{% url 'pc_technician' %}" class="btn lg bg-dark text-white">Book Now</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!--Third section of the page containing the WHy choose us  content-->
<section class="third-section ">
    <div class="slide-in-left">
        <h3> Why Choose PC hub ?</h3>
        <ul class="list-inline list-inline-horizontal-lg">
            <li class="list-inline-item">
                <!--First card containing the Precision content-->
                <div class="card " style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Precision</h5>
                        <h6 class="card-subtitle mb-2 text-muted">What Precision ?</h6>
                        <p class="card-text">All the computers are assembled precisely in our store with the latest and
                            brand new products on the market. Our staff has an outstanding experience in the field of
                            computers and tech.
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <div class="card " style="width: 18rem;">
                    <!--First card containing the Quality content-->
                    <div class="card-body">
                        <h5 class="card-title">Quality</h5>
                        <h6 class="card-subtitle mb-2 text-muted"> What Quality ?</h6>
                        <p class="card-text">Our motto is quality over quantity. Our main goal is to make the costumer
                            happy with our store's products providing them with the best quality products the market has
                            to offer.
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-inline-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <!--First card containing the Endurance content-->
                        <h5 class="card-title">Endurance</h5>
                        <h6 class="card-subtitle mb-2 text-muted"> What Endurance ?</h6>
                        <p class="card-text">Our products have shown to be built different. The quality we provice is
                            top notch and we have our work to show for it and prove it even after heavy use. Fit for a
                            true gamer.

                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}