{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="slide-in-top">
<div class="">
    <h1> Header Section "Enhance your gaming performance with us"</h1>
    <p>Paragraph completing  the banner</p>
</div>
</section>

<section class="slide-in-left">
    <h3>Our services</h3>
    <p> Nr Sell computer and accessories</p>
    <button class="btn lg bg-dark text-white">Button</button>
    <p> Fix & refurbish computers/electronics</p>
    <button class="btn lg bg-dark text-white">Button</button>
    <p> Fix computers in your home </p>
    <button class="btn lg bg-dark text-white">Button</button>
</section>
{% endblock %}