@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Hind Siliguri', sans-serif;
}

main {
    margin-top: 80px;
}

/*--------------------------------------------- Footer styling*/
.footer {
    background-color: black;
    font-size: 15px;
    padding-left: 5%;
    box-sizing: border-box;
    width: 100%;
}

span i {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blue;
}

/*-----------------------------------  Section styling styling*/
section h3 {
    margin-bottom: 4%;
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#988a8a, #090c2d);
    color: white;
    height: 100vh;
}

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(0.25turn, #0e0f0f, #353b30, #988571);
    height: 100vh;
    color: white;
}

.card {
    margin: 5px 50px 0;
    background-color: transparent;
}

/*---------------------------------- Slide top class (taken from ANIMISTA)*/
.slide-in-top {
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*------------------------------------------ List styling */