@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Hind Siliguri', sans-serif;
}

main {
    margin-top: 50px;
}

/*--------------------------------------------- Footer styling*/
footer {
    background-color: black;
    font-size: 15px;
    padding-left: 5%;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}

span i {
    font-size: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: blue;
}

/*-----------------------------------  Section styling styling*/

section h3 {
    margin-bottom: 4%;
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(#988a8a, #090c2d);
    color: white;
    height: 100vh;
}

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 110vh;
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(0.25turn, #0e0f0f, #353b30, #988571);
    height: 100vh;
    color: white;
}

.card {
    margin: 5px 50px 0;
    background-color: transparent;
}

/*---------------------------------- Slide top class (taken from ANIMISTA)*/
.slide-in-top {
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slide-in-left 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*------------------------------------------ List styling */

.container-fluid {
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.container-fluid a {
    text-decoration: none;
    color: black;
}

.container-fluid a:hover {
    font-size: larger;
    color: blue;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.signup {
    margin-top: 3%;
}

.text-left { 
    padding: 20px;
}



/*------------------------------------------- Media queries */
@media only screen and (max-width: 360px) {
    html {
        overflow-x: hidden;
    }

    h1 {
        font-size: 20px;
    }

    .h3 {
        font-size: 20px;
    }

    .first-section p {
        font-size: 12px;
    }

    .first-section a {
        font-size: 15px;
    }

    .second-section {
        height: 160vh;
    }

    .third-section {
        height: 120vh;
    }
}

@media only screen and (max-width: 375px) {
    html {
        overflow-x: hidden;
    }

    h1 {
        font-size: 20px;
    }

    .first-section p {
        font-size: 12px;
    }

    .first-section a {
        font-size: 15px;
    }

    .second-section {
        height: 150vh;
    }

    .third-section {
        height: 130vh;
    }
}

@media only screen and (max-width: 414px) {
    html {
        overflow-x: hidden;
    }

    h1 {
        font-size: 25px;
    }

    .first-section p {
        font-size: 12px;
    }

    .first-section a {
        font-size: 15px;
    }

    .second-section {
        height: 120vh;
    }

    .third-section {
        height: 110vh;
    }
}

@media only screen and (max-width: 540px) {
    html {
        overflow-x: hidden;
    }

    h1 {
        font-size: 25px;
    }

    .first-section p {
        font-size: 12px;
    }

    .first-section a {
        font-size: 15px;
    }

    .second-section {
        height: 120vh;
    }

    .third-section {
        height: 110vh;
    }
}