{% extends 'base.html' %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content%}
<!-- Section that contains all the products of the database-->
<div class="container-fluid">
    <div class="justify-content-md-center">
        <div class="col text-center mt-3">
            <h1 class="my-2">Arrivals</h1>
            <P> Arriving in our store soon...</P>
        </div>
        <div class="mt-3 text-center col-4.order-1">
            {% for arrival  in arrivals %}

            <div class="card-inner">
                <div class="card-face card-face-front">
                    <h2> Product Name: {{ arrival.name }}</h2>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 100rem;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if arrival.image %}
                        <img class=" img-fluid" src="{{ arrival.image.url }}" alt="{{ arrival..name }}">
                        {% else %}
                        <img class=" img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ arrival.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body bg-dark text-white ">
                            <p class="card-text">Product type: {{arrival.product_type}}</p>
                            <p class="card-text"> Product Description: {{arrival.product_description}} </p>
                            <p class="card-text"> Price: €{{arrival.price}} </p>
                            <p class="card-text"><small class="text-muted">Arriving in store Soon!!</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock%}