<footer class="footer p-1 mt-auto py-3 dark-bg text-white">
    <div class="row">
        <div class="col-12 col-md-4 ps-2 text-start text-md-center">

            <h4 class="fw-bolder mb-3"> Opening Hours </h4>
            <p> Monday-Friday 09:00-17:00</p>
            <p> Saturday 10:00-15:00</p>

        </div>
        <div class="useful-links col-12 col-md-4 ps-2 py-4 py-md-0 text-start text-md-center">
            <br>
            <a class="navbar-brand"
                href="https://www.privacypolicygenerator.info/live.php?token=X05lxFVTCOuaKKRTpiros6aU39Qm6TiP"
                aria-label="footer link to Privacy Policy" target="_blank" rel="nofollow">Privacy
                Policy</a>
            <br>
            <a class="navbar-brand" href="{% url 'contact' %}" aria-label="footer link to contact us page"
                rel="nofollow">Contact Us</a>
            <br>
            <button class="navbar-brand btn text-white klaviyo_form_trigger">Subscribe</button>

        </div>
        <div class="col-12 col-md-4 ps-2 text-start text-md-center">
            <h4 class="fw-bolder">Follow us</h4>
            <div class="my-3">
                <!-- External social media links & copyrights -->
                <span>
                    <a class="hvr-icon-grow mx-4" href="https://www.facebook.com" rel="nofollow" rel="noopener"
                        target="_blank" aria-label="footer link to facebook, opens in a new tab">
                        <i class="fab fa-facebook hvr-icon fs-5"></i></a>
                </span>
            </div>
            <p>
                © 2023 Copyright: Developed by
                <span></span> | Andrea Sarreqi
            </p>
        </div>
    </div>
</footer>