<div class="footer ">
    <div class="row">
        <div class="col-12 col-md-4 ps-2 text-start text-md-center">

            <h4 class="fw-bolder mb-3"> Opening Hours </h4>
            <p> Monday-Friday 09:00-17:00</p>
            <p> Saturday 10:00-15:00</p>

        </div>
        <div class="col-12 col-md-4 ps-2 py-4 py-md-0 text-start text-md-center">
            <h4 class="fw-bolder">Useful Links</h4>

            <a class="navbar-brand" href="#" aria-label="footer link to cancer information page">
                FAQ</a>
            <br>
            <a class="navbar-brand" href="#" aria-label="footer link to blog page">Privacy
                Policy</a>
            <br>
            <a class="navbar-brand" href="#">Contact Us</a>

        </div>
        <div class="col-12 col-md-4 ps-2 text-start text-md-center">
            <h4 class="fw-bolder">Follow us</h4>
            <div class="my-3">
                <!-- External social media links & copyrights -->
                <span>
                    <a class="hvr-icon-grow mx-4" href="#" target="_blank"
                        aria-label="footer link to facebook, opens in a new tab">
                        <i class="fab fa-facebook hvr-icon fs-5"></i></a>
                </span>
            </div>
            <p>
                <i class="fab fa-copyright"></i> Developed by
                <span></span> | Andrea Sarreqi
            </p>
        </div>
    </div>
</div>